<div class="modal fade" id="jaciConfirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h3 class="modal-title h6" id="jaciConfirmModalTitle">Confirmar</h3>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button> -->
            </div>
            <div class="modal-body" id="jaciConfirmModalBody">
                <!-- Mensagem dinâmica -->
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-outline-clay btn-sm" 
                        id="jaciConfirmModalCancel" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="jaciConfirmModalOk">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>