# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env*

# Git
.git/
.gitignore

# Banco de dados local (não o do volume)
*.db
*.db-journal
*.db-wal

# IDE
.idea/
.vscode/
*.swp

# Testes
test_*.py

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Outros
README.md
